/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Цвета */
  --background-image: url(../images/cover-image-light.png);
  --menu-color: #353430;
  --effects-color: #353430;
  --effcets-menu-hover-color: 50, 49, 45;
  --shadow-color: #ff8dcb;
  --title-color: #ffc2e6;
  --highlight-color: #ff8dcb;
  --question-color: #353430;
  --link-color: #ff8dcb;
  --subtitle-txt-color: #353430;
  --txt-color: #353430;
  --background-color: #fff1f7;
}

.theme-light .decorative-element {
  display: none;
}

/* МЕДИА-ЗАПРОСЫ */

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --menu-color: #353430;
    --effects-color: #353430;
    --effcets-menu-hover-color: 50, 49, 45;
    --shadow-color: #ff8dcb;
    --title-color: #ffc2e6;
    --highlight-color: #ff8dcb;
    --question-color: #353430;
    --link-color: #ff8dcb;
    --subtitle-txt-color: #353430;
    --txt-color: #353430;
    --background-color: #fff1f7;
  }

  .theme-auto .decorative-element {
    display: none;
  }
}
