/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Цвета */
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-txt-color: #000028;
  --txt-color:  #F1B2CE;

  /* Шрифты */
  --main-font: 'IBM Plex mono';
  --bold-font: bold;
  --normal-font: normal;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
}
