/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Цвета */
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-txt-color: #000028;
  --txt-color: #f1b2ce;
  --background-color: #000028;

  /* Шрифты */
  --main-font: "IBM Plex mono";
  --bold-font: bold;
  --normal-font: normal;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
}
