/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Цвета */
  --menu-color: #ff0070;
  --effects-color: #ff0070;
  --effcets-menu-hover-color: 255, 0, 112;
  --shadow-color: #ff0070;
  --question-color: #ff0070;
  --link-color: #ff0070;
  --highlight-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-txt-color: #000028;
  --txt-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);

  /* Шрифты */
  --main-font: "IBM Plex mono";
  --bold-font: bold;
  --normal-font: normal;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
}
